
# windows thumbnail cache
Thumbs.db

# dev files
/dev

# database files
/database/*

# attachments and assets
/web/avatar/*
/web/image/*

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

tests/_output/*
tests/_support/_generated